**Data Types and Structures Questions**

---

1. What are data structures, and why are they important?

Ans:- Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are critical in computer science because they allow for efficient storage, retrieval, and manipulation of data. Different data structures are optimized for different operations like searching, sorting, and updating data.

2. Explain the difference between mutable and immutable data types with examples.

Ans:- Mutable types: These are data types whose values can be changed after they are created. Example: Lists, dictionaries, sets.

Immutable types: These are data types whose values cannot be changed after they are created. Example: Tuples, strings, integers.

3. What are the main differences between lists and tuples in Python?

Ans:- Mutability: Lists are mutable, meaning you can change their elements, while tuples are immutable, so once created, their elements cannot be changed.

Performance: Since tuples are immutable, they are slightly faster and require less memory compared to lists.

Use cases: Lists are typically used when the data might change, while tuples are used when the data should remain constant.

4. Describe how dictionaries store data.

Ans:- Dictionaries store data in key-value pairs. Each key must be unique, and it maps to a corresponding value. Internally, dictionaries use a hash table for fast lookups, which allows for constant-time complexity (O(1)) for most operations like searching and inserting.

5. Why might you use a set instead of a list in Python?

Ans:- You would use a set instead of a list when you want to store unique items and do not need to maintain any specific order. Sets automatically handle duplicates, while lists can contain multiple instances of the same item.

6. What is a string in Python, and how is it different from a list?

Ans:-A string in Python is an immutable sequence of characters. A list, on the other hand, is a mutable sequence that can hold different types of elements (e.g., integers, strings, other lists).

7. How do tuples ensure data integrity in Python?

Ans:- Tuples ensure data integrity by being immutable. Once a tuple is created, its data cannot be altered, ensuring that the information remains consistent throughout the program. This is useful when you need to guarantee that data cannot be accidentally changed.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans:- A hash table is a data structure that uses a hash function to compute an index (or "hash") into an array of buckets or slots, from which the desired value can be found. In Python, dictionaries are implemented using hash tables, which allow for fast lookups and insertions (average O(1) time complexity).

9. Can lists contain different data types in Python?

Ans:- Yes, lists can contain elements of different data types. For example, you can have integers, strings, and other lists within the same list:

10. Explain why strings are immutable in Python.

Ans:- Strings are immutable because they are often used for handling text data, and making them immutable allows for more efficient memory management. If strings were mutable, every time you modified a string, the system would need to allocate new memory for each modification. Immutable strings also ensure that they are hashable, which is important for their use as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans:- Dictionaries offer faster lookups for specific keys (average O(1) time complexity), while lists require linear time (O(n)) to search for an item. Therefore, dictionaries are preferable when you need to quickly associate and access data based on unique keys.

12. How do sets handle duplicate values in Python?

Ans:- Sets automatically remove duplicate values. If you try to add a duplicate item to a set, it will be ignored.

13. Describe a scenario where using a tuple would be preferable over a list.

Ans:- Tuples are preferable when you need to store a collection of items that should not change, such as coordinates or RGB values, ensuring that the data remains consistent throughout the program. For example, a tuple could be used to represent a point in 2D space.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans:- In lists: The in keyword checks if an element is present in the list.

In dictionaries: The in keyword checks if a key is present in the dictionary, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans:- No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its data cannot be changed. This immutability is a key feature that ensures data integrity and makes tuples suitable for use as keys in dictionaries.

16. What is a nested dictionary, and give an example of its use case.

Ans:- A nested dictionary is a dictionary where one or more values are themselves dictionaries. It’s useful for representing hierarchical or complex data structures. Example:

In [10]:
students = {
    'John': {'age': 20, 'grade': 'A'},
    'Jane': {'age': 22, 'grade': 'B'}
}
print(students['John']['grade'])

A

17. Describe the time complexity of accessing elements in a dictionary.

Ans:- The time complexity of accessing elements in a dictionary is O(1) on average, thanks to the underlying hash table. This allows for very fast lookups, insertions, and deletions.

18. In what situations are lists preferred over dictionaries?

Ans:- Lists are preferred when the order of elements matters or when you need to store a sequence of items that will be accessed by their position (index) rather than by a key. Lists are also better when you need to perform operations like sorting or iterating over elements in order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:- Dictionaries in Python are unordered because the key-value pairs are stored in a way that does not guarantee any specific order. This is due to the use of hash tables. This means that if you iterate over a dictionary, the order of the items might not be the same as the order in which they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:- Lists: You access elements by index (position), and the time complexity for access is O(1) for each index.

Dictionaries: You access elements by keys, and the time complexity for access is O(1) on average (due to the hash table).

**Practical Questions**

1.  Write a code to create a string with your name and print it

In [21]:
string="vikas"
print(string)

string="vikas"
type(string)

vikas

str

2. Write a code to find the length of the string "Hello World"

In [22]:
str="hello world"
len(str)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [23]:
str="Python programming"
str[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase

In [26]:
text="hello"
text.upper()

'HELLO'

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [29]:
fruit="i like apple"
fruit.replace("apple", "orange")

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [31]:
number=[1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [33]:
number= [1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [35]:
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [36]:
letter=['a','b','c','d']
letter[1]

'b'

 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [38]:
number=[10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [41]:
number=(100,200,300)
print(number)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [43]:
color=("red", "green", "blue", "yellow")
color[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [44]:
number=(10,20,5,15)
min(number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [48]:
animal=("dog","cat","rabbit")
animal.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [52]:
fruit=("apple", "banana","kiwi")
fruit=("apple", "banana","kiwi")
if "kiwi" in fruit:
  print("yesssssss")
else:
  print("nooooo")

yesssssss

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [56]:
letter={"a","b","c"}
print(letter)
type(letter)

{'c', 'b', 'a'}

set

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [58]:
number={1,2,3,4,5}
number.clear()
number

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [60]:
number={1,2,3,4}
number.remove(4)
number

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [64]:
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [65]:
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [67]:
info={"name": "vikas", "age": 26, "city":"delhi"}
print(info)
type(info)

{'name': 'vikas', 'age': 26, 'city': 'delhi'}

dict

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [69]:
info={"name":"john","age":25}
info["country"]="USA"
print(info)

{'name': 'john', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [71]:
info={'name': 'Alice', 'age': 30}
info['name']

'Alice'

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [74]:
info= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [75]:
info={'name': 'Alice', 'city': 'Paris'}
if "city" in info:
  print("yes")
else:
  print("no")

yes

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [81]:
info=["raja", "rani", 10, 10.1]
print(info)
type(info)

['raja', 'rani', 10, 10.1]

list

In [83]:
info=("raja", "rani", 10, 10.1)
print(info)
type(info)

('raja', 'rani', 10, 10.1)

tuple

In [86]:
info={"name": "vikas","age":26}
print(info)
type(info)

{'name': 'vikas', 'age': 26}

dict

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [89]:
number=[23,65,78,56]
number.sort()
print(number)

[23, 56, 65, 78]

28. Write a code to create a list with strings and print the element at the third index.

In [97]:
state=["goa","punjab", "haryana", "delhi"]
print(state[3])

delhi

 29. Write a code to combine two dictionaries into one and print the result.

In [104]:
dict1={"name": "vikas"}
dict2={"age":26}
dict1.update(dict2)
print(dict1)

{'name': 'vikas', 'age': 26}

 30. Write a code to convert a list of strings into a set.

In [116]:
state=["goa","punjab", "haryana", "delhi","goa", "goa"]
set(state)

{'delhi', 'goa', 'haryana', 'punjab'}